<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calendário de Nivers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="perfil-{{ usuario }}">
    <h1>Gerenciador de Presentes</h1>
    
    <form action="/adicionar/{{ usuario }}" method="POST" enctype="multipart/form-data">
        <input type="text" name="nome" placeholder="Nome do Amigo" required>
        <input type="text" name="data" placeholder="DD/MM" required>
        <input type="text" name="presente" placeholder="Ideia de Presente">
          <div class="form-fotos">
            <input type="file" name="foto1" accept="image/*">
            <input type="file" name="foto2" accept="image/*">
            <input type="file" name="foto3" accept="image/*">
            <input type="file" name="foto4" accept="image/*">
        </div>
        <button type="submit">Cadastrar</button>
    </form>

    <hr>
    
        <div id="lista-aniversarios">
            {% for pessoa in lista %}
            <div class="card {{ 'urgente' if pessoa.dias_que_faltam <= 30 else ''}}">
                <div class="card-info"> <a href="/deletar/{{ usuario }}/{{ pessoa.Nome }}" style="float: right; color: red; text-decoration: none;">X</a>
                    <strong>{{ pessoa.Nome }}</strong> {{ pessoa.data }}
                    <p> presente: {{ pessoa.presente }}</p>
                    <small>Faltam {{ pessoa.dias_que_faltam }} dias</small>
                    <br>
                    <strong>{{ pessoa.status }}</strong>
                </div>

                <div class="card-galeria">
                    {% if pessoa.foto1 %}<img src="{{ pessoa.foto1 }}" class="foto-galeria" onclick="ampliarFoto(this)">{% endif %}
                    {% if pessoa.foto2 %}<img src="{{ pessoa.foto2 }}" class="foto-galeria" onclick="ampliarFoto(this)">{% endif %}
                    {% if pessoa.foto3 %}<img src="{{ pessoa.foto3 }}" class="foto-galeria" onclick="ampliarFoto(this)">{% endif %}
                    {% if pessoa.foto4 %}<img src="{{ pessoa.foto4 }}" class="foto-galeria" onclick="ampliarFoto(this)">{% endif %}
                </div>
            </div>
            {% else %}
                <p>Nenhum aniversario cadastrado para este usuario.</p>
            {% endfor %}
        </div>
        <div id="modal-foto" class="modal" onclick="fecharFoto()">
            <span class="fechar">&times;</span>
            <img class="modal-conteudo" id="foto-ampliada">
        </div>

        <script>
            function ampliarFoto(elemento) {
                document.getElementById("modal-foto").style.display = "block";
                document.getElementById("foto-ampliada").src = elemento.src;
            }
            function fecharFoto() {
                document.getElementById("modal-foto").style.display = "none";
            }
        </script>
</body>
</html>